*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body, html{
    height: 100%;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}


.payment{
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header h2{
    margin-bottom: 20px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.payment-options{
    display: flex;
    flex-direction: column;
    
}
.options{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
.options input{
    display: none;
}
.options img.logo{
    width: 30px;
    height:auto;
    margin-right: 10px;
}
.options .text{
    font-weight: bold;
    color:black;
    flex-grow: 1;
    text-align: left;
}
.options .text.disabled{
    color: rgb(118, 116, 116);
}
.options .checkmark{
    color: green;
    font-size: 1.2em;
    font-weight: bold;
}
.options input:checked +.logo + .text + .checkmark {
    display: inline-block;
}

.options:hover{
    background-color: darkgrey;
}
.next-button{
    width: 100%;
    padding: 15px;
    background-color: rgb(44, 89, 203);
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.next-button:hover{
    background-color: rgb(60, 135, 247);
}
